html {
    background-color: darkgrey;
}
header {
    margin: 0 auto;
    background-color: rgb(47, 37, 138);
    padding: 20px 20px 20px;
    border: 5px solid black;
}
footer {
    margin: 0 auto;
    background-color: rgb(47, 37, 138);
    padding: 20px 20px 20px;
    border: 5px solid black;
    color: rgb(201, 201, 201);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    text-align: center;
}
.img2 {
    float: center;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 500px;
    border: 5px solid white;
}
.img1 {
    float: right;
    display: block;
    margin: 0 auto;
    max-width: 50%;
    max-height: 170px;
    border: 5px solid black;
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    text-align: left;
}
h2 {
    color: rgb(201, 201, 201);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 25px;
    text-align: left;
}
h3 {
    color: darkslateblue;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 20px;
    font-size: 25px

}
ul {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 17px
}